
/*----------------------主面板------------------------*/
#main_pane{
    background-color: rgb(255, 255, 255);
}
#main_pane::before{
    content: "";
    padding:0px;
    margin:0px;
    padding-top:50px;
}

/* #clock_pane #myclock{
    width:100%;
}

#clock_pane #myclock:before {
    content: "";
    display: block;
    padding-top: 100%;
} */


.login_form{
    background-color: rgb(209, 222, 235);
}

.login_form_item{
    align-items:center;
}